@import url('font.css');

.mb40 {
    margin-bottom: 40px;
}

.mb10 {
    margin-bottom: 10px;
}

.input-error-msg {
    position: absolute;
    bottom: 3.5rem;
}

.radius {
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.empty-box {
    padding: 240px 0;
    display: block;
    margin: 0 auto;
}

.p-absolute {
    position: absolute!important;
}

.profile-background {
    background-color: #adadad;
}